.template{

    background: url("../images/background.jpg") center center;
    background-size:cover;
    color:white;
    text-align:center;
    text-shadow: 1px 1px 3px #444;
    -webkit-text-shadow: 1px 1px 3px #444;
    -moz-text-shadow: 1px 1px 3px #444;
    -o-text-shadow: 1px 1px 3px #444;
    -ms-text-shadow: 1px 1px 3px #444;

}


body{
    margin-top:5%;

}

#blocpagecommentaires{    
   
    display:flex;
    flex-direction:column;
    align-content:stretch;
    justify-content: space-between;

}

#blocpage{

   
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    
}
/*-------------- phrase d'accueil ----------------*/

.ml12 {
     
    font-weight: 200;
    font-size: 1.6em;
    font-style:oblique;
}

.ml12 .letter {
    margin-top:2%;
    display: inline-block;
    line-height: 1em;
}



/*------------------ menu ----------------*/

.navigation_mob  {
    display:none;
}

nav{

    background-image:radial-gradient(white, black);    
     position:fixed;
     z-index: 9999;
    -webkit-box-shadow: 0 0px 10px silver;
    -moz-box-shadow: 0 0px 10px silver;
    -o-box-shadow: 0 0px 10px silver;
    -ms-box-shadow: 0 0px 10px silver;
    box-shadow: 0 0px 10px silver;
    height: auto;   
    top:0px;
    right:0px;
    left:0px;
    width: 100%;

 }

ul.navigation
 {
      
    padding:0px;
    display: flex;
    display: -ms-flexbox;
    justify-content: space-around;
    -ms-flex-pack: justify; 
    align-content: center;
    align-items: center;   
    list-style-type: none;
    font-family: tahoma,arial,verdana;
    font-size: 1em;
    font-style: oblique; 
    color: white;
    text-decoration: none; 
    text-shadow: 1px 1px 3px #444;
    -webkit-text-shadow: 1px 1px 3px #444;
    -moz-text-shadow: 1px 1px 3px #444;
    -o-text-shadow: 1px 1px 3px #444;
    -ms-text-shadow: 1px 1px 3px #444;
}

.navigation a{

    width: 100%;
}

nav a {

    color: white;
    text-decoration: none;
   -webkit-transition: all 1s;
   -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; 
}

nav a:hover,
nav a:focus {
    color: black;
    font-style: normal;
    text-decoration: none;

}

nav a:visited{
    text-decoration: none;

}
.popcorn{
    width: 45px;
    height:45px;

}

/*----bouton scroll avant footer ---*/
#btntop i{
    color:white;
    margin-top:4%;
    margin-bottom:7%;

}

#btntop i:hover{
    color:grey;
}


/*----------- footer------------*/
footer {
    bottom:0px;
    position:fixed;
    width: 99%;
    z-index: 999;
    display: flex;
    display: -ms-flexbox;
    justify-content: space-around;
    -ms-flex-pack: justify;
    align-content: center;
    align-items: center;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
    margin-top: 20px;
    border: 2px double silver;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    text-shadow: 1px 1px 3px #444;
    -webkit-text-shadow: 1px 1px 3px #444;
    -moz-text-shadow: 1px 1px 3px #444;
    -o-text-shadow: 1px 1px 3px #444;
    -ms-text-shadow: 1px 1px 3px #444;
    -webkit-box-shadow: 0 0px 10px silver;
    -moz-box-shadow: 0 0px 10px silver;
    -o-box-shadow: 0 0px 10px silver;
    -ms-box-shadow: 0 0px 10px silver;
    box-shadow: 0 0px 10px silver;
    font-family: tahoma,arial,verdana;
    font-size: 1em;
    font-style: oblique;
    color: white;
    background-image:radial-gradient(white, black);
    background-image: -moz-radial-gradient(white, black);
    background-image: -webkit-radial-gradient(white, black);
    background-image: -o-radial-gradient(white, black);   
}

footer a {
    color: white;
    text-decoration:none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

footer a:hover,
footer a:focus {
    color: black;
    font-style:normal;
}



footer img {
    margin-top: 6%;
    margin-bottom: 4%;
}

/* lien mentions légales*/

#legal {
    text-decoration: none;
    color: white;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    cursor: pointer;
}

.commentaires a:hover,
.coms i:hover,
#legal:hover {
    text-decoration: none;
    font-style: normal;
    color: black;
   
}

/* div des mentions légales */

#legalnotice {
    display: none;
    z-index: 5;
    position: fixed;
    top: 165px;
    width: 70%;
    height: 600px;
    margin: auto;
    border: 2px double silver;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    text-shadow: none;
    font-style: normal;
    color: white;    
    background: -moz-linear-gradient(top, 
      #ccc6c3 0%, 
      #828c95 24%, 
      #000000 41%, 
      #7f7f7f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, 
      color-stop(0%,#ccc6c3), 
      color-stop(24%,#828c95), 
      color-stop(41%,#000000), 
      color-stop(100%,#7f7f7f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, 
      #ccc6c3 0%,
      #828c95 24%,
      #000000 41%,
      #7f7f7f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, 
      #ccc6c3 0%,
      #828c95 24%,
      #000000 41%,
      #7f7f7f 100%); /* Opera 11.10+ */
    background: linear-gradient( 
      #ccc6c3 0%,
      #828c95 24%,
      #000000 41%,
      #7f7f7f 100%); /* W3C */

}

#legalnotice p ,
#legalnotice h3{
    padding:10px;
}


/*fermeture des mentions légales*/

#closelegal {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 24px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    font-family: tahoma,arial,verdana;
    font-style: normal;
    color: white;
    background: black;
    -webkit-box-shadow: 2px 3px 3px 2px#000;
    -moz-box-shadow: 2px 3px 3px 2px #000;
    box-shadow: 2px 3px 3px 2px #000;
    -o-box-shadow: 2px 3px 3px 2px #000;
    -ms-box-shadow: 2px 3px 3px 2px #000;
}

#closelegal:hover {
    color: black;
    background-color: white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
}


h3 {
    text-decoration: underline;
    font-weight: bold;
}

#titlenotice {
    width: 100%;
    height: 35px;
    margin-top: 0;
    padding-top: 15px;
    text-align: center;
    font-family: tahoma,arial,verdana;
    font-size: 1.2em;
    font-style: normal;
    color: black;
    background-image:radial-gradient(white, black);
    background-image: -moz-radial-gradient(white, black);
    background-image: -webkit-radial-gradient(white, black);
    background-image: -o-radial-gradient(white, black);  
    -webkit-box-shadow: 2px 3px 3px 2px #000;
    -moz-box-shadow: 2px 3px 3px 2px #000;
    -o-box-shadow: 2px 3px 3px 2px #000;
    -ms-box-shadow: 2px 3px 3px 2px #000;
    box-shadow: 2px 3px 3px 2px #000;

}

footer img {

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
footer img:hover {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);

}

/*--------------- page liste des films---------*/


/*---lien vers le telechargement tarifs avec animation */
.tarifs{
   margin-top:2%;
   -moz-transform: scale(1) rotate(-24deg) translateX(25px);
    -webkit-transform: scale(1) rotate(-24deg) translateX(25px);
    -o-transform: scale(1) rotate(-24deg) translateX(25px);
    -ms-transform: scale(1) rotate(-24deg) translateX(25px);
    transform: scale(1) rotate(-24deg) translateX(25px);   
    -webkit-animation: color_change 3s infinite alternate;
    -moz-animation: color_change 3s infinite alternate;
    -ms-animation: color_change 3s infinite alternate;
    -o-animation: color_change 3s infinite alternate;
    animation: color_change 3s infinite alternate;   
}


@-webkit-keyframes color_change {
   0% { background-color: blue; }
    25% { background-color: orange; }
    50% { background-color: yellow; }
    75% { background-color: black; }
    100% { background-color: red; }
}
@-moz-keyframes color_change {
    0% { background-color: blue; }
    25% { background-color: orange; }
    50% { background-color: yellow; }
    75% { background-color: black; }
    100% { background-color: red; }
}

@-ms-keyframes color_change {
    0% { background-color: blue; }
    25% { background-color: orange; }
    50% { background-color: yellow; }
    75% { background-color: black; }
    100% { background-color: red; }
}

@-o-keyframes color_change {
   0% { background-color: blue; }
    25% { background-color: orange; }
    50% { background-color: yellow; }
    75% { background-color: black; }
    100% { background-color: red; }
}
@keyframes color_change {
    0% { background-color: blue; }
    25% { background-color: orange; }
    50% { background-color: yellow; }
    75% { background-color: black; }
    100% { background-color: red; }
}

.tarifs a{
    text-decoration:none;
    color:white;
}
/*---------------------------------*/

/*-----------slider----------------*/


.contener_slideshow
{
  padding:0px;
  margin:auto;
  width:610px;
  height:300px;
  overflow: hidden;
  position: relative;
  filter: contrast(150%);
}

.slid_1, .slid_2, .slid_3
{
  position: absolute;
  width:610px;

  height:211px;
}

.slid_1 img, .slid_2 img, .slid_3 img
{
    width: 100%;

}
.slid_1{
    left: 0;
}

.slid_2{
    left: 610px;
}

.slid_3{
    left: 1220px;
}


.contener_slide
{
  width: 1220px;
  height: 211px;
  left:0px;
  position: absolute;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-name: anim_slide;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-name: anim_slide;
  -ms-animation-duration: 30s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-name: anim_slide;
  animation-duration: 30s;
  animation-iteration-count:infinite;
  animation-name: anim_slide;
}
@-webkit-keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-610px;}
  45% {left:-610px;}
  66% {left:-1220px;}
  90% {left:-1220px;}
}
@-moz-keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-610px;}
  45% {left:-610px;}
  66% {left:-1220px;}
  90% {left:-1220px;}
}
@-ms-keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-610px;}
  45% {left:-610px;}
  66% {left:-1220px;}
  90% {left:-1220px;}
}
@keyframes anim_slide 
{
  0% {left:0px;}
  22% {left:0px;}
  33% {left:-610px;}
  45% {left:-610px;}
  66% {left:-1220px;}
  90% {left:-1220px;}
}



/*-----------fin slider-------*/

h2.pageList {
    color : #cc6633;
    font-variant : small-caps;
    letter-spacing : 0.5em;
    font-size : 150%;
    border: 3px solid black;
    background: white;
}


.list-group h2{
    color : #cc6633;
    font : 150% impact, futura, sans-serif;
    text-transform : uppercase;
    letter-spacing : 0.3em;
    text-align : center;  
}

.affiche img {
    margin:1% auto 1%;
    border : 1px dotted grey;
    width: 250px;    
    filter: contrast(150%);  
}

.publishDate{
    
    font-size:1.2em;
    margin-bottom:3%;
}

#page{
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
    justify-content: space-around;
    -ms-flex-pack: space-around;
    margin-bottom: 2%;
    margin-top: 4%;

}

#page a{
    text-decoration: none;
  
}

ul.pagination {
    padding-left:0px;
    margin-top:3%;

}

.pagination a{
    padding:12px;
    color:#343434;
    color:white;
    text-decoration:none;
    -moz-box-shadow: 10px 10px 10px white;
    -webkit-box-shadow: 10px 10px 10px white;
    -o-box-shadow: 10px 10px 10px white;
    box-shadow: 10px 10px 10px white;
    -moz-border-radius: 50px;
    -webkit-border-radius:50px;
    border-radius: 50px;
    border: 1px solid #656565;
    background:#cfcfcf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#656565"); /* Pour IE seulement et mode gradient à linear */
    background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#656565));
    background: -webkit-linear-gradient(#cfcfcf, #656565);
    background: -moz-linear-gradient(#cfcfcf, #656565);
    background: -o-linear-gradient(#cfcfcf, #656565);
    background: -ms-linear-gradient(#cfcfcf, #656565);
    background: linear-gradient(#cfcfcf, #656565); 
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor:pointer;

}

.pagination a:hover{
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    color:black;
    box-shadow:none;
    background:#7A020B;
    color:white;
    cursor:pointer;
}



.list-group{
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction:column;
    justify-content: space-between;
    align-items:center;
    width: 32%;
    height: auto;
    margin-bottom:5%;
    border: 10px solid white;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 3px;
    -moz-border-radius: 14px;
    -o-border-radius: 3px;
    -o-border-radius: 14px;
    -ms-border-radius: 3px;
    -ms-border-radius: 14px;
    border-radius: 3px;
    border-radius: 14px;
    background: white;
    -webkit-box-shadow: 5px 5px 10px silver;
    -moz-box-shadow: 5px 5px 10px silver;
    -o-box-shadow: 5px 5px 10px silver;
    -ms-box-shadow:5px 5px 10px silver;
    box-shadow: 5px 5px 10px silver;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;

}

.list-group:hover {
    -webkit-box-shadow: 0 0px 12px #666;
    -moz-box-shadow: 0 0px 12px #666;
    -o-box-shadow: 0 0px 12px #666;
    -ms-box-shadow: 0 0px 12px #666;
    box-shadow: 0 0px 12px #666;
}

.bobine
{
    position:relative;
    width: 100%;
    top:0px;
    right:0px;
    left:0px;
}

.bobine2
{
    width: 100%;
    bottom:0px;
    right:0px;
    left:0px;
}

.texte {
    margin-bottom:4%;
    margin-right: 12%;
    margin-left: 12%;
    color:black;
}

.input_read{
    padding:10px;
    color:#343434;
    color:white;
    text-decoration:none;
    -moz-box-shadow: 10px 10px 10px #343434;
    -webkit-box-shadow: 10px 10px 10px #343434;
    -o-box-shadow: 10px 10px 10px #343434;
    box-shadow: 10px 10px 10px #343434;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #656565;
    background:#cfcfcf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#656565"); /* Pour IE seulement et mode gradient à linear */
    background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#656565));
    background: -webkit-linear-gradient(#cfcfcf, #656565);
    background: -moz-linear-gradient(#cfcfcf, #656565);
    background: -o-linear-gradient(#cfcfcf, #656565);
    background: -ms-linear-gradient(#cfcfcf, #656565);
    background: linear-gradient(#cfcfcf, #656565); 
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor:pointer;
}

.input_read:hover{

    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    color:black;
    box-shadow:none;
    background:#7A020B;
    color:white;
    cursor:pointer;
}

.publishing {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction:column;
    color:black;
    font-style:oblique;
}

.coms i,
.body_card p span {
    text-align: center;
    font-style: italic;
    color: black;     
    margin-bottom:3%;
}

.nbcom{

    top:0px;
    color:black;
    font-weight: bold;
}

.pagination li{
    list-style-type: none;
    display:inline-block;
}


/* ------------ page de detail des films -------*/

.oneMovieDetail{
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction:column;
    align-items: center;
    width: 90%;
    margin:auto;
    height: auto;
    margin-bottom: 25px;
    border: 10px solid white;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 3px;
    -moz-border-radius: 14px;
    -o-border-radius: 3px;
    -o-border-radius: 14px;
    -ms-border-radius: 3px;
    -ms-border-radius: 14px;
    border-radius: 3px;
    border-radius: 14px;
    background: white;
    -webkit-box-shadow: 5px 5px 10px silver;
    -moz-box-shadow: 5px 5px 10px silver;
    -o-box-shadow: 5px 5px 10px silver;
    -ms-box-shadow:5px 5px 10px silver;
    box-shadow: 5px 5px 10px silver;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    color:black;
    
}


.oneMovieDetail p{
    color:black;
}


.inputbasic {
    margin:1% auto 1%;
    width: 60%;
    padding: 15px;
    border: 1px solid grey;
    border: 10px solid white;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 14px;
    -o-border-radius: 3px;
    -o-border-radius: 14px;
    -ms-border-radius: 3px;
    -ms-border-radius: 14px;
    -moz-border-radius: 3px;
    -moz-border-radius: 14px;
    border-radius: 3px;
    border-radius: 14px;
    font-style: oblique;
    color: rgb(30,56,56);
    -webkit-box-shadow: 0 3px 10px #ccc;
    -moz-box-shadow: 0 3px 10px #ccc;
    -o-box-shadow: 0 3px 10px #ccc;
    -ms-box-shadow: 0 3px 10px #ccc;
    box-shadow: 0 3px 10px #ccc;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    cursor: pointer;
    
}

.inputbasic:focus {
    font-family: tahoma,arial,verdana;
    font-size: 1.5em;
    font-style: oblique;
    color: rgb(30,56,56);
    color: black;
    background-color: lightgrey;
}

input[type=submit]   {
    position:relative;
  z-index:0;
    margin-top:1%;
    margin-bottom:1%;
    padding:10px;
    color:#343434;
    color:white;
    text-decoration:none;
    -moz-box-shadow: 8px 8px 10px white;
    -webkit-box-shadow: 8px 8px 10px white;
    -o-box-shadow: 8px 8px 10px white;
    box-shadow: 8px 8px 10px white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #656565;
    background:#cfcfcf;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cfcfcf", endColorstr="#656565"); /* Pour IE seulement et mode gradient à linear */
    background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#656565));
    background: -webkit-linear-gradient(#cfcfcf, #656565);
    background: -moz-linear-gradient(#cfcfcf, #656565);
    background: -o-linear-gradient(#cfcfcf, #656565);
    background: -ms-linear-gradient(#cfcfcf, #656565);
    background: linear-gradient(#cfcfcf, #656565); 
    -webkit-transform: scale(1);
    transform: scale(1.25);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    cursor:pointer; 
}

input[type=submit]:active{
    padding: 15px;
}

input[type=submit]:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    color:black;
    box-shadow:none;
    background:#7A020B;
    color:white;
    cursor:pointer; 
}

.adminCtrl a {
    color:black;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.adminCtrl a:hover{
    color:grey;
}

.adminCtrl {

    -webkit-transform: scale(1);
    transform: scale(1); 
}

.adminCtrl :hover{
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
}

.commentaires {
    text-align:left;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction:column;
    color:black;
    width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 2%;
    padding-left: 3%;
    border: 2px solid white;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 3px;
    -moz-border-radius: 14px;
    -o-border-radius: 3px;
    -o-border-radius: 14px;
    -ms-border-radius: 3px;
    -ms-border-radius: 14px;
    border-radius: 3px;
    border-radius: 14px;
    background-color: silver;
    box-shadow: 0 3px 10px #ccc;
    -ms-box-shadow: 0 3px 10px #ccc;
    -webkit-box-shadow: 0 3px 10px #ccc;
    -moz-box-shadow: 0 3px 10px #ccc;
    -o-box-shadow: 0 3px 10px #ccc;
}



.oneMovieDetail h2{
    color : #cc6633;
    font : 150% impact, futura, sans-serif;
    text-transform : uppercase;
    letter-spacing : 0.3em;
    text-align : center; 
}


.commentaires a {
    color: #9B0511;
    cursor:pointer;
}

.commentaires a:hover{
    text-decoration: none;
    font-style: normal;
    color: black;
}


.commentaires i {
   text-align:right;
   
}

.reponse {
    margin-left: 68%;
    margin-right:5%;
    margin-bottom: 2%;
}

.news{
  
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    font-size:1.2em;
    color: white;
}

.news:hover{

    color: #9B0511;
}

#message {
    margin-top:1%;
    text-align:center;
    font-size:1.1em;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 3px;
    -moz-border-radius: 14px;
    -o-border-radius: 3px;
    -o-border-radius: 14px;
    -ms-border-radius: 3px;
    -ms-border-radius: 14px;
    border-radius: 3px;
    border-radius: 14px;
    color: #9B0511;
    padding: 15px;
    width: 97.5%;
    box-shadow: 0 3px 10px #ccc;
    -ms-box-shadow: 0 3px 10px #ccc;
    -webkit-box-shadow: 0 3px 10px #ccc;
    -moz-box-shadow: 0 3px 10px #ccc;
    -o-box-shadow: 0 3px 10px #ccc;
    background-color:white ;
    margin-bottom:2%;

}

#affiche2 img{
    margin:1% auto 1%;
    width: 300px;
    filter: contrast(150%);
}

iframe{
     
    width:560px;
    height:315px; 
    border:0px;
}    

    
.popup {
    z-index: 9999;
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}


.popup-inner {
    max-width:700px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}


.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}



/*-------------------page cinemas------------*/

#mapid{

    width: 99%;
    height:600px;
    margin-bottom:2%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius:10px;

}

.leaflet-popup-content{
    color:black;
}



/*--------------- page contact ----------------*/
#messageMail {
    margin-top:1%;
    text-align:center;
    font-size:1.1em;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 3px;
    -moz-border-radius: 14px;
    -o-border-radius: 3px;
    -o-border-radius: 14px;
    -ms-border-radius: 3px;
    -ms-border-radius: 14px;
    border-radius: 3px;
    border-radius: 14px;
    color: #9B0511;
    padding: 15px;
    width: 97.5%;
    box-shadow: 0 3px 10px #ccc;
    -ms-box-shadow: 0 3px 10px #ccc;
    -webkit-box-shadow: 0 3px 10px #ccc;
    -moz-box-shadow: 0 3px 10px #ccc;
    -o-box-shadow: 0 3px 10px #ccc;
    background-color:white ;
    margin-bottom:2%;
    display:none;
}

#commentForm {
    width: 70%;
    margin:auto;
}

#commentForm label {
    width: 250px;
}

form label {
  display: inline-block;
  width: 100px;
}

form div {
  margin-bottom: 10px;
}

.error {
 
    margin-left: 1%;
    color:white;
    font-style:italic;
    background-color:red;
    border :3px solid red;
    border-radius : 30px;      
}

label.error {
  display: inline;
}

#g-recaptcha{
    display:flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: space-around;
    -ms-flex-pack: justify;
    height: 250px;
    
}
/* --------------- page infos------*/
#messageMeteo img{
    width: 75px;
    height:auto;
}

.accordion {
    background: linear-gradient(to bottom right, white, #F8F8F8);
    max-width: 400px;
    background: white;
    margin: 0 auto;
     display: none;
    padding: 1.5rem;
    width: 22%;
    display: flex;
    display: -ms-flexbox;
    z-index: 999;  
    flex-direction: column;
    height: auto;
    border: 1px solid black;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    text-align: center;
    line-height: 1.5em;
    color: #444444;
    background-color: #ddd;
    box-shadow: -1px 2px 18px 10px inset;
    transition: 1s all;
    -ms-flex-direction: column;
    -o-border-radius: 14px;
}

.accordion-header {
    border-bottom: 1px solid #DDE0E7;
    color: #2a313a;
    cursor: pointer;
    font-weight: 700;
    padding:5px;
}

.accordion-header:hover {
    background: #F6F7F9;
}

.accordion-content {
    display: none;
    border-bottom: 1px solid #DDE0E7;
    background: linear-gradient(to bottom right, white, #F8F8F8);
    padding: 1.5rem;
    color: #4a5666;

}

.accordion-header::before {
    content: '';
    vertical-align: middle;
    display: inline-block;
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    background-color: #B1B5BE;
    margin-right: .75rem;
}

.active.accordion-header::before {
    background-color: #FC6468;
}

#map {
    display:flex;
    display: -ms-flexbox;
    text-align: center;
    bottom: 20px;
    left: 0;
    width: 50%;
    height: 500px;
    margin: auto;
    margin-top: 25px;
    border: 2px solid rgb(86, 165, 180);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;

}

.mapboxgl-ctrl-bottom-left,.mapboxgl-ctrl-bottom-right{
    display:none;
}

.marker {
    background-image: url('../images/marker.png');
    width: 30px;
    height: 35px;
    cursor: pointer;
}


.mapboxgl-popup {
    max-width: 200px;
    display: flex;
    display: -ms-flexbox;
    z-index: 4;
    position: fixed;
    top: 250px;
    left: -100%; 
    flex-direction: column;
    width: 22%;
    height: auto;
    border: 1px solid black;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    text-align: center;
    padding: 35px 20px;
    line-height: 1.5em;
    color: #444444;
    background-color: #ddd;
    box-shadow: inset -1px 2px 15px 10px ;
    transition: 1s all;
    -ms-flex-direction: column;
    -o-border-radius: 14px;
    z-index:0;

}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color:transparent;

}



/*-------------- page tableau de bord------------*/
.adminPost{
    margin:auto;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction:column;
    align-items: center;
    width: 50%;
    height: auto;
    margin-bottom: 25px;
    border: 10px solid white;
    -webkit-border-radius: 3px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 3px;
    -moz-border-radius: 14px;
    -o-border-radius: 3px;
    -o-border-radius: 14px;
    -ms-border-radius: 3px;
    -ms-border-radius: 14px;
    border-radius: 3px;
    border-radius: 14px;
    background-color: silver;
    box-shadow: 0 3px 10px #ccc;
    -ms-box-shadow: 0 3px 10px #ccc;
    -webkit-box-shadow: 0 3px 10px #ccc;
    -moz-box-shadow: 0 3px 10px #ccc;
    -o-box-shadow: 0 3px 10px #ccc;

}

#affiche3 img{
    margin:1% auto 1%;
    width: 300px;
    filter: contrast(150%);
}

.adminPost h2{
    color : #cc6633;
    font : 150% impact, futura, sans-serif;
    text-transform : uppercase;
    letter-spacing : 0.3em;
    text-align : center; 
}

.adminPost p{
    color:black;
}

.admin{

    text-align:center;
    padding-right:3%;
    font-size:1.2em;

}

/*------------- page info---------------------*/

.pageInfo li ,.pageInfo p{

    text-align:center;
    font-size:1.2em;
    margin:auto;
    list-style-type: none;

}

.pageInfo ul{

        padding:0px;
}

/*--------------- page erreur -----------------*/
.errorImg{
    background: silver url(" ../images/chaplin.gif") no-repeat fixed center; 
    background-size: cover;
}
.errorDiv{   
    color:black;
    font-size:35px;
    text-align:center ;
    margin-top:-2%;
}

.errorDiv i{
    color:#9B0511;
}

/*--------------- page liste commentaires ------*/


.listcom i{
    color:white;
    margin-bottom:2%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}

.listcom i:hover{
    color:silver;
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  
}
/*----------- page update post--------*/

#affiche4 img{
    margin:1% auto 1%;
    width: 300px;
    filter: contrast(150%);
}



/*---------------- medias queries -----------------*/
@media screen and (max-width:865px) {
    #blocpage {
        flex-direction: column;
        -ms-flex-direction: column;
    }
    /* div navigation mobile */
    #toggler i{
        margin-top:2%;
        margin-bottom:2%;
        color:white;
    }

    .navi {
        display:none;
    }

    .navigation_mob  {
        display:block;
    }

    nav {
        position: relative;  

    }

    
    ul.navigation_mobile{
        padding-left:0px;
        margin-top:0px;
        top:0px;
    }

    .navigation_mobile ul{
        display:block;
        flex-direction: column;        
        justify-content:  space-around;
    }

    .navigation_mobile li {
        list-style-type: none;
    }


    ul.pagination{
        margin-top:5%;
        margin-bottom:5%;
    }

    .pagination li{
        margin-top:9%;
        margin-bottom:9%;
        flex-direction: row;
        -ms-flex-direction:row;
        flex-wrap: wrap;
        -ms-flex:wrap;
        align-content: space-between;
        justify-content: center;
        -ms-flex-pack: center;  
    }


.affiche img {
    width: 180px;    
}

    /*telechargement tarifs menu responsive*/   
    .tarifs{

        transform:none;
        margin:auto;
        animation:none;
    }


    /* div info meteo */
    .meteoDiv{
    width: 60%;
    position:relative;
    margin:auto;
    margin-bottom:2%;
    }

    .pageInfo li ,.pageInfo p{

        font-size:0.7em;
    }
    
    /* div dans carte dans la page informations*/
    .mapboxgl-popup {
        width: 30%;
    }
    
    #map{
        width: 90%;
     }
  
    /* div footer */
   

    footer {
        position: relative;
        flex-direction: column;
        -ms-flex-direction: column;
        text-align: center;

    }
    
    /* images dans le footer */
    footer img {
        margin-top: 10px;
        margin-left:5%;
    }
    
    /* police dans mentions légales */
    #legal,
    h4 {
        margin: auto;
        margin-top: 20px;
    }
    
    /* div mentions légales */
    #legalnotice {
        z-index: 9999;
        right: 10%;
        left: 10%;
        height: auto;
    }

    /* affiche film dans film detail*/
    #affiche2 img{
        width: 250px;
        filter: contrast(150%);
    }

    .oneMovieDetail p{
        font-size:0.7em;
    }

    h2.pageList {

        font-size : 100%;
    }
    /* remplir les champs */
    .inputbasic {
        width: 80%;
    }
    /* bloc des commentaires*/
    .commentaires {
        width: 90%;
    }
    /* signalement des commentaires*/
    div#comSignal {
       width: 97%; 
    }

    iframe{
     
        width:460px;
        height:315px; 
    }    

    .popup-inner{
        width: 500px;
    }  

    .adminPost{
        width: 90%;
    }
    
    /* police d' ecriture page d'accueil en jquery*/
    .ml12{
        font-size:1em;
    }
    
    /* liste des films page d'acceuil */
    .list-group{
        width: 70%;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -ms-flex-direction:column;
        align-items:center;
    }
    
    .error{
        margin-left:2%;
    }


}

@media(orientation:landscape) and (max-device-width:850px) {
    #legalnotice {
        position: relative;
        top: 5px;
        right: 0;
        left: 0;
        width: 100%;
    }
}


@media screen and (max-width:600px) {

  iframe{
     
        width:280px;
        height:315px; 
    }    

    .popup-inner{
        width:350px ;
    } 

    .accordion {
        width : 80%
    } 

    #legalnotice {
        font-size: 15px;
    }
  /*slideshow en responsive calculs/2*/

/*-----------slider----------------*/



    .contener_slideshow
    {
      width:310px;
      height:200px;
      overflow: hidden;
      position: relative;

    }

    .slid_1, .slid_2, .slid_3
    {
      position: absolute;
      width:310px;
      height:200px;
    }

    .slid_1 img, .slid_2 img, .slid_3 img
    {
        width: 100%;

    }
    .slid_1{
        left: 0;
    }

    .slid_2{
        left: 310px;
    }

    .slid_3{
        left: 620px;
    }


    .contener_slide
    {
      width: 620px;
      height: 200px;
      left:0px;
      position: absolute;
      -webkit-animation-duration: 30s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-name: anim_slide;
      -moz-animation-duration: 30s;
      -moz-animation-iteration-count:infinite;
      -moz-animation-name: anim_slide;
      -ms-animation-duration: 30s;
      -ms-animation-iteration-count:infinite;
      -ms-animation-name: anim_slide;
      animation-duration: 30s;
      animation-iteration-count:infinite;
      animation-name: anim_slide;
    }
    @-webkit-keyframes anim_slide 
    {
      0% {left:0px;}
      22% {left:0px;}
      33% {left:-310px;}
      45% {left:-310px;}
      66% {left:-620px;}
      90% {left:-620px;}
    }
    @-moz-keyframes anim_slide 
    {
      0% {left:0px;}
      22% {left:0px;}
      33% {left:-310px;}
      45% {left:-310px;}
      66% {left:-620px;}
      90% {left:-620px;}
    }
    @-ms-keyframes anim_slide 
    {
      0% {left:0px;}
      22% {left:0px;}
      33% {left:-310px;}
      45% {left:-310px;}
      66% {left:-620px;}
      90% {left:-620px;}
    }
    @keyframes anim_slide 
    {
      0% {left:0px;}
      22% {left:0px;}
      33% {left:-310px;}
      45% {left:-310px;}
      66% {left:-620px;}
      90% {left:-620px;}
    }

    /*-----------fin slider-------*/



}


@media screen and (max-width:420px) {

  iframe{
     
        width:200px;
        height:315px; 
    }    

    .popup-inner{
        width:210px ;
    }

    #legalnotice {
        top: 35px;
        font-size: 10px;
    }

    fieldset{
        padding:0px;
        width: 99%;
    }
    
    .ml12{
    margin:auto;
    width: 81%;
    }

    #affiche3 img , #affiche2 img,#affiche4 img{
        width:200px;
    }
       
    .reponse {
    margin-left: 42%;
 
    }
}


@media(orientation:landscape) and (max-device-width:650px) {
      .popup-inner{
        width: 180px;
        top:1%;
    }  
}
